body{
    background-color: rgb(38, 13, 13);
}
#title{
    color: white;
    font-family: Roboto;
    font-weight: bolder;
    font-size: xx-large;
}
#stopwatch{
    
    font-size: xx-large;
    font-family:Roboto;
    font-weight: bolder;
    text-align: center;
    margin: 8% 0% 20% 0%;
}
#text{
      color: aqua;
      font-size: 150%;
}
#btn-start:hover{
    
    background-color: white;
    border: 2px;
    border-style: dashed;
    border-color: green;
    color: green;
    padding: 2% 2% 2% 2%;

}

#btn-start{
    font-size:100%;
    background-color: green;
    border: 2px;
    border-style: dashed;
    border-color: white;
    color: white;
    border-radius: 45%;
    padding: 2% 2% 2% 2%;
}
#btn-reset{
    font-size:100%;
    background-color: yellow;
    border: 2px;
    border-color: white;
    color: white;
    border-radius: 45%;
    border-style: dashed;
    padding: 2% 2% 2% 2%;
}
#btn-reset:hover{
    color: yellow;
    border: 2px;
    border-style: dashed;
    border-color: yellow;
    background-color: white;
    padding: 2% 2% 2% 2%;
}
#btn-stop{
    font-size:100%;
    background-color: red;
    border: 2px;
    border-color: white;
    color: white;
    border-radius: 45%;
    border-style: dashed;
    padding: 2% 2% 2% 2%;
}
#btn-stop:hover{
    color: red;
    border: 2px;
    border-style: dashed;
    border-color: red;
    background-color: white;
    padding: 2% 2% 2% 2%;
}